footer {
  background-color: #0f3460;
  padding: 100px 0;
  color: #fff;
}
footer h1 {
  margin-bottom: 30px;
  color: #e94560;
  font-weight: 500;
  font-style: italic;
}
footer .img {
  background-color: #0c2a4d;
  padding: 15px 20px;
  border-radius: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
}
.grid2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.grid2 .box {
  width: 200px;
  margin: 5px;
}
.grid2 .box-brand {
  width: 300px;
  margin: 5px;
}

.icon .img {
  align-items: center;
}
.icon .img i {
  padding-right: 5px;
}

.socia-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.socia-links i {
  font-size: 20px;
  color: #fff;
  padding: 10px;
}
.socia-links i:hover {
  background-color: #0c2a4d;
  border-radius: 5px;
  cursor: pointer;
}
